Answer-1

Both for and while loops are used for iterating over a set of conditions repeatedly, but they are used in different situations.

Basically for loop uses in:

*When you need to iterate over a known sequence, such as a list or string.
*When you need to perform a fixed number of iterations.
*When you need to execute a block of code for each element in a sequence.

In [1]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    print(num)

1
2
3
4
5

Basically while loop uses in:

*When you need to repeat a block of code until a certain condition is met.
*When you don't know in advance how many iterations you need to perform.
*When you need to perform an operation as long as a certain condition is true.

In [2]:
num = 1
limit = 100

while num <= limit:
    print(num)
    num = num* 2

1
2
4
8
16
32
64

Answer-2

In [3]:
l =[1,2,3,4,5,6,7,8,9,10]

#sum of first 10 natural number using for loop

In [5]:
result =0
for i in l:
    result= result+i
print (result)

55

#product of first 10 natural number using for loop

In [7]:
result =1
for i in l:
    result= result*i
print (result)

3628800

#sum of first 10 natural number using while loop

In [9]:
number = 10
starting_point =0
counter =1
while counter<=number:
    starting_point= starting_point + counter
    counter =counter +1
starting_point

55

#product of first 10 natural number using while loop

In [11]:
number = int(input("enter your number"))
multiple =1
while number>0:
             multiple =multiple * number
             number = number -1
multiple

enter your number 10

3628800

Answer- 3

In [12]:
unit = int(input("enter your electricity unit"))

if unit<=100:
    print("Total electricity bill =", unit*4.5)
elif unit>100 and unit<=200:
    print("Total electricity bill =", 100*4.5 +((unit-100)*6))
elif unit>200 and unit<=300:
    print("Total electricity bill =", 100*4.5+100*6 +((unit-200)*10))
else:
    print("Total electricity bill =", 100*4.5+100*6+100*10+((unit-300)*20))

enter your electricity unit 310

Total electricity bill = 2250.0

Answer-4

In [13]:
n=list(range(1,101))

#using for loop

In [15]:
result=[]
for i in n:
    cube=i**3
    if cube%4==0 or cube%5==0:
        result.append(i)
print(result)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

#using while loop

In [17]:
result=[]
i=1
while i<=100:
    cube =i**3
    if cube %4==0 or cube %5==0:
        result.append(i)
    i=i+1
print(result)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Answer-5

In [18]:
s= "I want to become a data scientist"

In [19]:
s.lower()

'i want to become a data scientist'

In [20]:
vowels =['a','e','i','o','u']
count =0

for v in s.lower():
    if v in vowels:
        count =count+1
print(count)

12